.sconf_temp
.sconsign.dblite
/build
/dist
/crap
/mnt
/demo
/bbctrl-*
node_modules
*~
\#*
*.pyc
__pycache__
*.egg-info
/upload
/*.img
/*.xz
*.so
*.deb
*.zip
/package-lock.json
*.elf
*.hex
/scratch.txt

/bin
/rootfs
/share
