//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               This file is part of the Buildbotics firmware.              //
//-                                                                           //
//-      Copyright (c) 2015 - 2023, Buildbotics LLC, All rights reserved.     //
//-                                                                           //
//-       This Source describes Open Hardware and is licensed under the       //
//-                               CERN-OHL-S v2.                              //
//-                                                                           //
//-       You may redistribute and modify this Source and make products       //
//-  using it under the terms of the CERN-OHL-S v2 (https:/cern.ch/cern-ohl). //
//-         This Source is distributed WITHOUT ANY EXPRESS OR IMPLIED         //
//-  WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY QUALITY AND FITNESS //
//-   FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-S v2 for applicable   //
//-                                conditions.                                //
//-                                                                           //
//-              Source location: https://github.com/buildbotics              //
//-                                                                           //
//-    As per CERN-OHL-S v2 section 4, should You produce hardware based on   //
//-  these sources, You must maintain the Source Location clearly visible on  //
//-  the external case of the CNC Controller or other product you make using  //
//-                                this Source.                               //
//-                                                                           //
//-              For more information, email info@buildbotics.com             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#files-template(type="text/x-template")
  .files(v-if="fs.files")
    .files-name(v-if="mode == 'save'")
      label Name:
      input(v-model="filename", @input="filename_changed", focus)

    .files-body
      .files-box
        //- Breadcrumb path bar with location dropdown
        .files-path-bar
          .breadcrumbs
            //- Location dropdown
            .location-dropdown
              button.btn.btn-default.btn-sm.location-btn(
                @click="toggle_location_menu",
                :title="'Current location: ' + location")
                .fa(:class="location == 'Home' ? 'fa-home' : 'fa-usb'")
                span {{location}}
                .fa.fa-caret-down
              .location-menu(v-show="location_menu_open")
                a.location-item(v-for="name in locations",
                  @click="select_location(name)",
                  :class="{active: name == location}")
                  .fa(:class="name == 'Home' ? 'fa-home' : 'fa-usb'")
                  span {{name}}
                  .fa.fa-eject.eject-btn(v-if="name != 'Home'",
                    @click.stop="eject(name)", title="Eject USB drive")
            
            //- Path segments
            template(v-for="path in paths")
              template(v-if="path != '/'")
                span.path-separator /
                a.breadcrumb-item(:class="{current: $index == paths.length - 1}",
                  @click="load_path($index)")
                  span {{path}}
          
          //- Upload and New Folder buttons
          .files-actions
            button.btn.btn-primary.btn-sm(v-if="mode != 'save' && !$root.is_local",
              @click="upload", title="Upload a file from this computer")
              .fa.fa-upload
              |  Upload
            button.btn.btn-default.btn-sm(@click="new_folder",
              :disabled="10 < paths.length", title="Create a new folder")
              .fa.fa-plus
              |  New Folder

        //- File list
        .files-list
          table
            thead
              tr
                th.col-name Name
                th.col-size Size
                th.col-modified Modified

            tbody
              tr.file-row(v-for="file in files",
                :class="{selected: $index == selected, directory: file.dir}",
                @click="select($index)", @dblclick="activate(file)")
                td.col-name
                  .fa(:class="file.dir ? 'fa-folder' : file_icon(file.name)")
                  span {{file.name}}
                td.col-size
                  span(v-if="!file.dir") {{file.size | size}}
                td.col-modified {{file.modified | ago}}

          .empty-message(v-if="!files.length")
            .fa.fa-folder-open-o
            p This folder is empty

    dialog.new-folder-dialog(v-ref:new-folder, header="Create New Folder",
      :buttons="['Cancel', {text: 'Create', disabled: !folder_valid}]")
      div(slot="body")
        .form-group
          label Folder Name
          input(v-model="folder", @keyup.enter="create_folder", focus,
            placeholder="Enter folder name...")
