//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-              This file is part of the Buildbotics firmware.               //
//-                                                                           //
//-                Copyright (c) 2015 - 2018, Buildbotics LLC                 //
//-                           All rights reserved.                            //
//-                                                                           //
//-   This file ("the software") is free software: you can redistribute it    //
//-   and/or modify it under the terms of the GNU General Public License,     //
//-    version 2 as published by the Free Software Foundation. You should     //
//-    have received a copy of the GNU General Public License, version 2      //
//-   along with the software. If not, see <http://www.gnu.org/licenses/>.    //
//-                                                                           //
//-   The software is distributed in the hope that it will be useful, but     //
//-        WITHOUT ANY WARRANTY; without even the implied warranty of         //
//-    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU      //
//-             Lesser General Public License for more details.               //
//-                                                                           //
//-     You should have received a copy of the GNU Lesser General Public      //
//-              License along with the software.  If not, see                //
//-                     <http://www.gnu.org/licenses/>.                       //
//-                                                                           //
//-              For information regarding this software email:               //
//-                "Joseph Coffland" <joseph@buildbotics.com>                 //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#help-view-template(type="text/x-template")
  #help
    h2 User Manual
    p
      | You can find a detailed user manual at
      |
      a(href="http://buildbotics.com/docs", target="_blank")
        | buildbotics.com/docs
      |.

    h2 Discussion Forum
    p
      | If you're having trouble or just want to chat with other Buildbotics
      | CNC controller owners, head over to the Buildbotics forum at
      |
      a(href="http://forum.buildbotics.com", target="_blank")
        | forum.buildbotics.com
      |.  Register on the site and post a message. We'll be happy to help.

    h2 CAD/CAM Software
    p
      a(href="http://wikipedia.com/wiki/Computer-aided_manufacturing",
        target="_blank") CAM
      |
      | software can be used to create GCode
      | automatically from
      |
      a(href="http://wikipedia.com/wiki/Computer-aided_design",
        target="_blank") CAD
      |
      | models.  Here are a few CAD/CAM resources:
    ul
      li: a(href="http://camotics.org/", target="_blank")
        | CAMotics - Open-Source CNC Simulator
      li: a(href="http://librecad.org/", target="_blank")
        | LibreCAD - Open-Source 2D CAD
      li: a(href="https://www.freecadweb.org/", target="_blank")
        | FreeCAD - Open-Source 3D CAD
      li: a(href="http://www.openscad.org/", target="_blank")
        | OpenSCAD - Open-Source 3D CAD for programmers
      li: a(href="http://wiki.linuxcnc.org/cgi-bin/wiki.pl?Cam",
        target="_blank") LinuxCNC CAM resources
