//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               This file is part of the Buildbotics firmware.              //
//-                                                                           //
//-      Copyright (c) 2015 - 2023, Buildbotics LLC, All rights reserved.     //
//-                                                                           //
//-       This Source describes Open Hardware and is licensed under the       //
//-                               CERN-OHL-S v2.                              //
//-                                                                           //
//-       You may redistribute and modify this Source and make products       //
//-  using it under the terms of the CERN-OHL-S v2 (https:/cern.ch/cern-ohl). //
//-         This Source is distributed WITHOUT ANY EXPRESS OR IMPLIED         //
//-  WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY QUALITY AND FITNESS //
//-   FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-S v2 for applicable   //
//-                                conditions.                                //
//-                                                                           //
//-              Source location: https://github.com/buildbotics              //
//-                                                                           //
//-    As per CERN-OHL-S v2 section 4, should You produce hardware based on   //
//-  these sources, You must maintain the Source Location clearly visible on  //
//-  the external case of the CNC Controller or other product you make using  //
//-                                this Source.                               //
//-                                                                           //
//-              For more information, email info@buildbotics.com             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#settings-macros-safety-template(type="text/x-template")
  #settings-macros-safety
    h1 Macro Safety Settings

    p.description.
      Configure safety options for each macro. These settings help prevent
      accidental machine movement.

    .safety-table(v-if="macros.length")
      table
        thead
          tr
            th.index #
            th.name Macro
            th.confirm(title="Show confirmation dialog before running this macro")
              | Confirm
            th.bypass(title="Allow this macro to run before axes are homed or zeroed (for homing/setup macros only)")
              | Skip Reference Check

        tbody
          tr(v-for="macro in macros")
            td.index {{ $index + 1 }}
            td.name {{ macro.name || '(unnamed)' }}
            td.confirm
              input(type="checkbox", v-model="macro.confirm", @change="change",
                title="Require confirmation before running")
            td.bypass
              input(type="checkbox", v-model="macro.skip_reference_check", @change="change",
                title="Allow running without position reference")

    p.no-macros(v-else)
      | No macros configured. 
      a(href="#settings:macros") Add macros
      |  first.

    .help-section
      h3 Setting Descriptions

      dl
        dt Confirm
        dd.
          When enabled (default), a confirmation dialog appears before the macro
          runs. Disable for frequently-used macros that don't require user
          confirmation.

        dt Skip Reference Check
        dd.
          When enabled, the macro can run even if axes have not been homed or
          zeroed. #[strong Use only for homing or setup macros] that establish
          position reference. Most macros should leave this disabled for safety.
