//-                           All rights reserved.                            //
//-                                                                           //
//-   This file ("the software") is free software: you can redistribute it    //
//-   and/or modify it under the terms of the GNU General Public License,     //
//-    version 2 as published by the Free Software Foundation. You should     //
//-    have received a copy of the GNU General Public License, version 2      //
//-   along with the software. If not, see <http://www.gnu.org/licenses/>.    //
//-                                                                           //
//-   The software is distributed in the hope that it will be useful, but     //
//-        WITHOUT ANY WARRANTY; without even the implied warranty of         //
//-    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU      //
//-             Lesser General Public License for more details.               //
//-                                                                           //
//-     You should have received a copy of the GNU Lesser General Public      //
//-              License along with the software.  If not, see                //
//-                     <http://www.gnu.org/licenses/>.                       //
//-                                                                           //
//-              For information regarding this software email:               //
//-                "Joseph Coffland" <joseph@buildbotics.com>                 //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#settings-view-template(type="text/x-template")
  #settings
    h1 Settings

    .pure-form.pure-form-aligned
      fieldset
        h2 Units
        templated-input(name="units", :model.sync="config.settings.units",
          :template="template.settings.units")

        p
          | Note, #[tt units] sets both the machine default units and the
          | units used in motor configuration.  GCode #[tt program-start],
          | set below, may also change the default machine units.

      fieldset
        h2 GCode
        templated-input(v-for="templ in template.gcode", :name="$key",
          :model.sync="config.gcode[$key]", :template="templ")
