//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               This file is part of the Buildbotics firmware.              //
//-                                                                           //
//-      Copyright (c) 2015 - 2020, Buildbotics LLC, All rights reserved.     //
//-                                                                           //
//-       This Source describes Open Hardware and is licensed under the       //
//-                               CERN-OHL-S v2.                              //
//-                                                                           //
//-       You may redistribute and modify this Source and make products       //
//-  using it under the terms of the CERN-OHL-S v2 (https:/cern.ch/cern-ohl). //
//-         This Source is distributed WITHOUT ANY EXPRESS OR IMPLIED         //
//-  WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY QUALITY AND FITNESS //
//-   FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-S v2 for applicable   //
//-                                conditions.                                //
//-                                                                           //
//-              Source location: https://github.com/buildbotics              //
//-                                                                           //
//-    As per CERN-OHL-S v2 section 4, should You produce hardware based on   //
//-  these sources, You must maintain the Source Location clearly visible on  //
//-  the external case of the CNC Controller or other product you make using  //
//-                                this Source.                               //
//-                                                                           //
//-              For more information, email info@buildbotics.com             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#view-license-template(type="text/x-template")
  #license
    h2 License

    p.
      This is Open Hardware licensed under the CERN-OHL-S v2.  Unless
      otherwise noted, all sources are copyright 2015 - 2021,
      Buildbotics LLC.

    p.
      You may redistribute and modify the Source and make products
      using it under the terms of the CERN-OHL-S v2 (
      #[a(href="https:/cern.ch/cern-ohl") https:/cern.ch/cern-ohl]).
      The Source is distributed WITHOUT ANY EXPRESS OR IMPLIED
      WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY QUALITY AND FITNESS
      FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-S v2 for applicable

    p.
      The Source can be found at
      #[a(href="//github.com/buildbotics") github.com/buildbotics].

    p.
      As per CERN-OHL-S v2 section 4, should You produce hardware based on
      the Source, You must maintain the Source Location clearly visible on
      the external case of the CNC Controller or other product you make using
      the Source.

    p.
      For information regarding this software, email
      #[a(href="mailto:info@buildbotics.com") info@buildbotics.com].
