//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               This file is part of the Buildbotics firmware.              //
//-                                                                           //
//-      Copyright (c) 2015 - 2023, Buildbotics LLC, All rights reserved.     //
//-                                                                           //
//-       This Source describes Open Hardware and is licensed under the       //
//-                               CERN-OHL-S v2.                              //
//-                                                                           //
//-       You may redistribute and modify this Source and make products       //
//-  using it under the terms of the CERN-OHL-S v2 (https:/cern.ch/cern-ohl). //
//-         This Source is distributed WITHOUT ANY EXPRESS OR IMPLIED         //
//-  WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY QUALITY AND FITNESS //
//-   FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-S v2 for applicable   //
//-                                conditions.                                //
//-                                                                           //
//-              Source location: https://github.com/buildbotics              //
//-                                                                           //
//-    As per CERN-OHL-S v2 section 4, should You produce hardware based on   //
//-  these sources, You must maintain the Source Location clearly visible on  //
//-  the external case of the CNC Controller or other product you make using  //
//-                                this Source.                               //
//-                                                                           //
//-              For more information, email info@buildbotics.com             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#view-camera-template(type="text/x-template")
  .camera-view
    //- Navigation bar (dark style, consistent with other views)
    nav.navbar
      a.nav-item.crosshair-toggle(@click="$root.crosshair = !$root.crosshair",
        :class="{active: $root.crosshair}",
        title="Toggle crosshair overlay")
        .fa(:class="$root.crosshair ? 'fa-check-square-o' : 'fa-square-o'")
        span Show Crosshair

    //- Camera content
    .camera-content
      //- Show video when camera available
      video(v-if="$root.camera_available")
      
      //- Show offline message when camera not available
      .camera-offline(v-else)
        .offline-icon
          .fa.fa-video-camera
          .fa.fa-ban.overlay-icon
        .offline-message
          h3 Camera Unavailable
          p No camera detected. Connect a USB camera and refresh the page.
