[Unit]
Description=Boot Splash Screen
After=local-fs.target
[Service]
ExecStart=/usr/local/bin/boot-splash
Type=oneshot
StandardInput=tty
StandardOutput=tty
[Install]
WantedBy=sysinit.target
