script#admin-view-template(type="text/x-template")
  #admin
    h2 Hostname
    .pure-form.pure-form-aligned
      .pure-control-group
        label(for="hostname") Hostname
        input(name="hostname", v-model="hostname", @keyup.enter="set_hostname")
        button.pure-button.pure-button-primary(@click="set_hostname") Set

    h2 Remote SSH User
    .pure-form.pure-form-aligned
      .pure-control-group
        label(for="username") Username
        input(name="username", v-model="username", @keyup.enter="set_username")
        button.pure-button.pure-button-primary(@click="set_username") Set

    .pure-form.pure-form-aligned
      .pure-control-group
        label(for="current") Current Password
        input(name="current", v-model="current", type="password")
      .pure-control-group
        label(for="pass1") New Password
        input(name="pass1", v-model="password", type="password")
      .pure-control-group
        label(for="pass2") New Password
        input(name="pass2", v-model="password2", type="password")
        button.pure-button.pure-button-primary(@click="set_password") Set

    h2 Configuration
    button.pure-button.pure-button-primary(@click="backup") Backup

    label.pure-button.pure-button-primary.file-upload
      input(type="file", accept=".json", @change="restore")
      | Restore
    message(:show.sync="configRestored")
      h3(slot="header") Success
      p(slot="body") Configuration restored.

    button.pure-button.pure-button-primary(@click="confirmReset = true")
      | Reset
    message(:show.sync="confirmReset")
      h3(slot="header") Reset to default configuration?
      p(slot="body") All configuration changes will be lost.
      div(slot="footer")
        button.pure-button.button-error(@click="confirmReset = false") Cancel
        button.pure-button.button-success(@click="reset") OK

    message(:show.sync="configReset")
      h3(slot="header") Success
      p(slot="body") Configuration reset.

    h2 Firmware
    button.pure-button.pure-button-primary(@click="check") Check
    button.pure-button.pure-button-primary(@click="upgrade") Upgrade

    p
    table.pure-table
      tr
        th Current version
        td {{config.version}}

      tr(v-if="latest")
        th Latest version
        td {{latest}}

    message(:show.sync="firmwareUpgrading")
      h3(slot="header") Firmware upgrading
      p(slot="body") Please wait. . .

    message(:show.sync="hostnameSet")
      h3(slot="header") Hostname Set
      p(slot="body")
        | Hostname was successfuly set to {{hostname}}.
        | Poweroff and restart the controller for this change to take effect.

    message(:show.sync="passwordSet")
      h3(slot="header") Password Set
      p(slot="body")

    message(:show.sync="usernameSet")
      h3(slot="header") Username Set
      p(slot="body")
