script#admin-view-template(type="text/x-template")
  button.pure-button.pure-button-primary(@click="backup") Backup configuration
  button.pure-button.pure-button-primary(@click="restore") Restore configuration
  button.pure-button.pure-button-primary(@click="upgrade") Upgrade firmware
