script#axis-view-template(type="text/x-template")
  #axis
    h1 {{index | capitalize}} Axis Configuration

    form.pure-form.pure-form-aligned
      fieldset(v-for="category in template.axes", :class="$key")
        h2 {{$key}}

        templated-input(v-for="templ in category", :name="$key",
          :model.sync="axis[$key]", :template="templ")
