script#console-template(type="text/x-template")
  .console
    .toolbar
      button.pure-button(title="Clear console.", @click="clear")
        .fa.fa-trash
        | &nbsp;Clear

    table
      tr
        th Level
        th Source
        th Location
        th Repeat
        th Message

      tr(v-for="msg in messages", :class="msg.level || 'info'")
        td {{msg.level  || 'info'}}
        td {{msg.source || ''}}
        td {{msg.where  || ''}}
        td {{msg.repeat}}
        td {{msg.msg}}
