script#gcode-view-template(type="text/x-template")
  #gcode
    h1 GCode Configuration

    form.pure-form.pure-form-aligned
      fieldset
        templated-input(v-for="templ in template.gcode", :name="$key",
          :model.sync="gcode[$key]", :template="templ")
