script#message-template(type="text/x-template")
  .modal-mask(v-show="show", transition="modal")
    .modal-wrapper
      .modal-container
        .modal-header
          slot(name="header") default header
        .modal-body
          slot(name="body") default body
        .modal-footer
          slot(name="footer")
            button.pure-button.button-success(@click="show = false") OK
