script#status-view-template(type="text/x-template")
  h2 Jog
  table.jog
    tr
      td: button.pure-button(@click="jog('x', 1)") X+
      td: button.pure-button(@click="jog('y', 1)") Y+
      td: button.pure-button(@click="jog('z', 1)") Z+
      td: button.pure-button(@click="jog('a', 1)") A+
    tr
      td: button.pure-button(@click="jog('x', -1)") X-
      td: button.pure-button(@click="jog('y', -1)") Y-
      td: button.pure-button(@click="jog('z', -1)") Z-
      td: button.pure-button(@click="jog('a', -1)") A-

  h2 Velocity {{state.v}}
  h2 Step {{step}}

  table.axes
    tr
      th Axis
      th Position
      th Flags
      th StallGuard

    each axis in ['x', 'y', 'z']
      tr.axis
        th.name #{axis}
        td {{state.#{axis}p}}
        td {{state.#{axis}sf}}
        td {{state.#{axis}sgv}}
