script#switches-view-template(type="text/x-template")
  #switches
    h1 Switch Configuration

    form.pure-form.pure-form-aligned
      fieldset
        templated-input(v-for="templ in template.switches", :name="$key",
          :model.sync="switches[$key]", :template="templ")
