script#switches-view-template(type="text/x-template")
  #switches
    h1 Switch Configuration

    form.pure-form.pure-form-aligned
      fieldset
        .switch(v-for="switch in switches")
          h3 Switch {{$index}}
          templated-input(v-for="templ in template.switches", :name="$key",
            :model.sync="switch[$key]", :template="templ")
