script#templated-input-template(type="text/x-template")
  .pure-control-group(:class="name")
    label(:for="name") {{name}}

    select(v-if="template.type == 'enum' || template.values", v-model="model",
      :id="name", @change="change")
      option(v-for="opt in template.values", :value="opt") {{opt}}

    input(v-if="template.type == 'bool'", type="checkbox",
      v-model="model", :id="name", @change="change")

    input(v-if="template.type == 'float'", v-model="model", number,
      :min="template.min", :max="template.max", :step="template.step || 'any'",
        type="number", :id="name", @change="change")

    input(v-if="template.type == 'int' && !template.values", v-model="model",
      number, :min="template.min", :max="template.max", type="number",
      :id="name", @change="change")

    input(v-if="template.type == 'string'", v-model="model",
      type="text", :id="name", @change="change")

    textarea(v-if="template.type == 'text'", v-model="model",
      :id="name", @change="change")

    span.range(v-if="template.type == 'percent'")
      input(type="range", v-model="model", :id="name", number, min="0",
        max="100", step="1", @change="change")
      | {{model}}

    label.units {{template.unit}}
