.cheat-sheet
  table
    width 100%
    border-collapse collapse
    margin-bottom 0.5em

    *
      text-align left

  th, td
    border 1px solid #eee
    padding 4px

  td:nth-child(1), td:nth-child(2)
    width 1%
    white-space nowrap

  tr.header-row
    background #eee

  tr:nth-child(even)
    background #f7f7f7

  tr.unimplemented
    background #ffff9b

  tr.spacer-row
    background transparent

    th, td
      border none
      height 1em
