.CodeMirror-code
  > :nth-child(odd)
    background-color #fafafa

  .cm-line
    color #87cefa

  .cm-gcode
    color #708

  .cm-ocode
    color #219

  .cm-id
    color #05a

  .cm-speed, .cm-feed, .cm-tool
    color #f50

  .cm-variable, .cm-ref
    color #a11

  .highlight
    background #ffe7a6
