.console
  .console-wrapper
    max-height 400px
    overflow-y auto

  .message
    white-space pre

  table
    width 100%
    margin 0.5em 0
    border-collapse collapse

    td, th
      border 1px solid #ddd
      padding 2px

      &:first-child
        border-left 0

      &:last-child
        border-right 0

    tr
      > td
        margin 0 0.125em
        background-color #fff
