.dragbar
  position absolute
  background #aaa
  border-top 3px solid #888
  border-bottom 3px solid #888

  &:hover
    background #ccc

.dragbar-vertical
  width 100%
  height 4px
  cursor row-resize
  margin-top -10px

.dragbar-horizontal
  width 4px
  height 100%
  cursor col-resize
  margin-right -10px
