.error-message
  &.modal-mask .modal-wrapper .modal-container
    width auto
    max-width 800px

  .modal-header h3
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  .estop
    float right
    transform scale(0.75)
    margin-top -30px

  .console
    margin-bottom 1em
    clear both
