/******************************************************************************\

                  This file is part of the Buildbotics firmware.

         Copyright (c) 2015 - 2023, Buildbotics LLC, All rights reserved.

          This Source describes Open Hardware and is licensed under the
                                  CERN-OHL-S v2.

          You may redistribute and modify this Source and make products
     using it under the terms of the CERN-OHL-S v2 (https:/cern.ch/cern-ohl).
            This Source is distributed WITHOUT ANY EXPRESS OR IMPLIED
     WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY QUALITY AND FITNESS
      FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-S v2 for applicable
                                   conditions.

                 Source location: https://github.com/buildbotics

       As per CERN-OHL-S v2 section 4, should You produce hardware based on
     these sources, You must maintain the Source Location clearly visible on
     the external case of the CNC Controller or other product you make using
                                   this Source.

                 For more information, email info@buildbotics.com

\******************************************************************************/

.header
  width calc(100% - 2em)
  padding 0 1em
  border 0

  .header-content
    max-width limit-width
    margin 0 auto
    text-align left
    display flex
    flex-wrap wrap
    align-items center

  .header-tools
    display flex
    align-items center

  .banner
    white-space nowrap
    flex 1
    margin 0

    img
      vertical-align top

    .title
      font-size 30pt
      font-family Audiowide
      display inline
      margin-right 0.5em

      .left
        color #444
      .right
        color #e5aa3d

    .subtitle
      font-size 18pt
      font-weight 100
      color #aaa

      .copyright
        font-size 10pt

  .video
    position relative
    width 174px
    height 130px
    margin 2px 5px
    border 2px solid #fff

    &:hover
      border-color #aaa

    img
      height 100%
      width 100%

  .estop
    margin 0 5px
    height 140px

@media only screen and (max-width collapse-width)
  .header .header-content
    margin-left 50px

    .video
      display none
