/******************************************************************************\

                  This file is part of the Buildbotics firmware.

         Copyright (c) 2015 - 2023, Buildbotics LLC, All rights reserved.

          This Source describes Open Hardware and is licensed under the
                                  CERN-OHL-S v2.

          You may redistribute and modify this Source and make products
     using it under the terms of the CERN-OHL-S v2 (https:/cern.ch/cern-ohl).
            This Source is distributed WITHOUT ANY EXPRESS OR IMPLIED
     WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY QUALITY AND FITNESS
      FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-S v2 for applicable
                                   conditions.

                 Source location: https://github.com/buildbotics

       As per CERN-OHL-S v2 section 4, should You produce hardware based on
     these sources, You must maintain the Source Location clearly visible on
     the external case of the CNC Controller or other product you make using
                                   this Source.

                 For more information, email info@buildbotics.com

\******************************************************************************/

.tab-content .indicators, .tab-content .power
  padding 1em 0
  text-align center
  display grid
  grid-template-columns 1fr 1fr

  > *
    border 2px solid #bbb

  table
    width 100%
    empty-cells show
    border-collapse separate

    td, th
      padding 4px
      white-space nowrap
      height 1.25em

    tr:nth-child(odd)
      background #f7f7f7

    th
      text-align left

    td
      text-align right

    th.header
      height calc(2.5em + 6px)
      border-bottom 3px solid #ccc
      text-align center

    th.separator
      background #ccc
      border 1px solid #ccc
      padding 0
      width 0

    &.legend
      border-top 2px solid #bbb

      td
        text-align center

    &.functions, &.io-pins
      th
        text-transform capitalize

      .function, .mode
        text-align left

      .disabled
        text-decoration line-through

      .state
        text-align center

    &.motor_fault
      td, th
        text-align center
        min-width 1.75em

      .fa-eraser
        cursor pointer

        &:hover
          opacity 0.5

    &.measurements
      td
        width 8em

  .breakout
    h3
      margin 0

    .pin
      cursor pointer

    .selected-pin
      filter grayscale(100%) brightness(60%) sepia(100%) hue-rotate(-30deg) \
        saturate(600%) contrast(0.8)

      text
        fill #fff !important

  .breakout-body
    display flex
    flex-direction row

    .breakout
      margin 0.5em

    .breakout-pin
      flex 1
      text-align left
      padding 0 1em


@media only screen and (max-width 1000px)
  .power
    grid-template-columns 1fr

@media only screen and (max-width 1300px)
  .indicators
    grid-template-columns 1fr
