.loading-message
  position fixed
  z-index 50
  width 300px
  min-height 100px
  margin-top -50px
  margin-left -(sidebar-width)
  top 50%
  left 50%
  padding 20px 30px
  background-color #fff
  border-radius 2px
  box-shadow 0 2px 8px rgba(0, 0, 0, .33)
  transition all .3s ease
  font-family Helvetica, Arial, sans-serif

  .progress
    border 1px solid #888
    height 1.75em
    text-align center

    label
      position absolute

    .bar
      height 1.75em
      background #f2ac45
