#menu
  z-index 40

  .save
    display block
    margin 0.25em 0.6em

  .pure-menu-list
    border 0

  .pure-menu-heading
    background inherit
    padding 0

    .pure-menu-link
      padding 0.6em
      color #fff

  .pure-menu-item .pure-menu-link
    padding-left 1.5em
