/******************************************************************************\

                  This file is part of the Buildbotics firmware.

         Copyright (c) 2015 - 2023, Buildbotics LLC, All rights reserved.

          This Source describes Open Hardware and is licensed under the
                                  CERN-OHL-S v2.

          You may redistribute and modify this Source and make products
     using it under the terms of the CERN-OHL-S v2 (https:/cern.ch/cern-ohl).
            This Source is distributed WITHOUT ANY EXPRESS OR IMPLIED
     WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY QUALITY AND FITNESS
      FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-S v2 for applicable
                                   conditions.

                 Source location: https://github.com/buildbotics

       As per CERN-OHL-S v2 section 4, should You produce hardware based on
     these sources, You must maintain the Source Location clearly visible on
     the external case of the CNC Controller or other product you make using
                                   this Source.

                 For more information, email info@buildbotics.com

\******************************************************************************/

.navbar
  display flex
  align-items center
  background #444
  color #eee
  white-space nowrap
  text-overflow ellipsis
  flex-wrap wrap

  > *
    line-height 30px
    position relative

  .nav-separator
    border-bottom 1px solid #888

  .nav-item
    cursor pointer
    padding 5px 15px

    &:link, &:visited, &:active
      color #eee
      text-decoration none

    .fa
      width 1.5em
      margin-left 0.5em

    .nav-menu
      display none
      position absolute
      margin 5px 0 0 -15px
      background #444
      z-index 100

      .nav-item
        display flex
        flex-direction row
        align-items center
        min-width 6em

        span:nth-child(3)
          flex 1
          font-size 80%
          text-align right
          padding-left 1.5em

    &:hover
      background #666

      .nav-menu
        display block

        &.nav-menu-hide
          display none

    &[disabled]
      background #444
      color #aaa
      cursor not-allowed

  > .nav-item > .fa
    width initial
