.path-viewer
  display flex
  flex-direction column
  overflow hidden

  canvas
    outline none
    border none

  table
    width 100%

  .path-viewer-content
    flex 1
    margin 0
    overflow hidden
    background #eee

  .path-viewer-messages
    margin 0
    max-height 30%
    overflow-y auto

    tr:nth-child(odd)
      background #f3f3f3

    th
      background #ddd
      color #444
      padding 0.25em 0.5em

    td
      padding 0.125em 0.5em

    th, td
      text-align left

      &.location
        white-space nowrap

      &.message
        width 100%

      &.level
        text-transform uppercase
