.range-slider
  display flex
  flex-direction column

  .range-slider-label
    float left

  input
    apperance none
    -moz-apperance none
    -webkit-appearance none
    height 1rem
    background rgba(#eee, 0.8)
    border none
    outline none
    box-shadow inset 2px 2px 2px -1px #aaa
    border-radius 3px
    margin 0.25em 0

  .range-slider-current
    margin-bottom 0.5em
    font-size 110%
    font-weight bold
    text-align center

  .range-slider-range
    display flex
    flex-direction row

    .range-slider-max
      flex 1
      text-align right
