.status
  color #eee
  text-align center
  padding 0.125em
  font-weight bold
  margin-bottom 0.5em
  text-transform uppercase

  &.connecting
    color orange

  &.disconnected
    color red

  &.connected
    color green
