.button-success:not([disabled])
  background-color #1cb841

.button-error:not([disabled])
  background-color #ca3c3c

.button-warning:not([disabled])
  background-color #df7514

.button-secondary:not([disabled])
  background-color #42b8dd

.error
  background red

.warn
  background orange

.success
  background green

.fa.error
  background inherit
  color red

.fa.warn
  background inherit
  color orange

.fa.success
  background inherit
  color green
