body
  overflow-y scroll

[v-cloak]
  display none

.button-success:not([disabled])
  background rgb(28, 184, 65)

.header img
  vertical-align top

.logo
  font-size 30pt
  font-family Audiowide
  display inline
  margin-right 0.5em

  .left
    color #444
  .right
    color #e5aa3d


#menu
  .save
    display block
    margin 0.25em auto

  .pure-menu-heading
    background inherit
    padding 0

    .pure-menu-link
      padding 0.6em
      color #fff

  .pure-menu-item .pure-menu-link
    padding-left 1.5em


#main
  .content
    h2
      text-transform capitalize

    .pure-control-group
      label.units
        text-align left

      textarea
        width 24em
        height 12em

    .switch
      h3, .pure-control-group
        display inline-block


.control-view
  table
    margin 0.5em 0
    border-collapse collapse

    td, th
      border 1px solid #ddd


.axes
  .axis-x .name
    color #f00

  .axis-y .name
    color #0f0

  .axis-z .name
    color #00f

  .axis-a .name
    color #f80

  .axis-b .name
    color #0ff

  .axis-c .name
    color #f0f

  td, th
    text-align center
    padding 2px

  .axis
    .name
      text-transform capitalize

    .name, .position
      font-size 36pt
      line-height 36pt

@keyframes blink
  50%
    fill #ff9d00

.estop
  display inline-block
  width 190px
  transition 250ms

  &.active .ring
    animation blink 2s step-start 0s infinite

  svg
    cursor pointer

    .button:hover
      filter brightness(120%)

.jog
  float right

.jog svg
  text
    font-family Sans
    font-weight bold
    stroke transparent
    fill #444

  .button
    cursor pointer
    stroke #4c4c4c

    &:hover
      stroke #e55

    path
      overflow visible

  .house
    stroke #444
    fill #444

  .ring
    cursor pointer
    overflow visible

    .button
      stroke transparent

      &:hover
        stroke #e55

      text
        font-size 10pt
        text-anchor middle

.info
  float right
  clear right

  th, td
    padding 3px

  th
    text-align right

.overrides
  clear both

  .override
    margin 0.5em
    display inline-block

    .percent
      display inline-block
      width 3em

    input
      border-radius 0
      margin -0.4em 0.5em

.mdi
  clear both
  white-space nowrap
  margin 0.5em 0

  input
    width 90%

.toolbar
  clear both
  margin 0.5em 0

  .spacer
    display inline-block
    width 1px
    height 1px
    margin 0 1em

.gcode
  clear both
  border 2px inset #ccc
  border-radius 5px
  overflow auto
  width 100%
  max-width 100%
  min-width 100%
  height 200px
  padding 2px
  white-space pre
