body
  overflow-y scroll

[v-cloak]
  display none

.button-success:not([disabled])
  background-color #1cb841

.button-error:not([disabled])
  background-color #ca3c3c

.button-warning:not([disabled])
  background-color #df7514

.button-secondary:not([disabled])
  background-color #42b8dd

.header, .content
  padding 0

.header
  height 140px
  padding 0

  .header-content
    max-width 800px
    margin auto
    text-align left

  .estop
    float right
    margin 5px

  .banner
    padding-top 40px
    white-space nowrap

    img
      vertical-align top

    .title
      font-size 30pt
      font-family Audiowide
      display inline
      margin-right 0.5em

      .left
        color #444
      .right
        color #e5aa3d

    .subtitle
      font-size 18pt
      font-weight 100
      color #aaa

.error
  background red

.warn
  background orange

.success
  background green

@keyframes attention
  50%
    opacity 0.5

.attention
    background-color #f5e138
    color #000
    animation attention 2s step-start 0s infinite

.status
  color #eee
  text-align center
  padding 0.125em
  font-weight bold
  margin-bottom 0.5em
  text-transform uppercase

  &.connecting
    color orange
  &.disconnected
    color red
  &.connected
    color green

#overlay
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.7)
  z-index 2000
  color white
  font-weight bold
  font-size 24pt
  text-align center
  text-transform uppercase

  span
    position relative
    top 50%

#menu
  .save
    display block
    margin 0.25em auto

  .pure-menu-heading
    background inherit
    padding 0

    .pure-menu-link
      padding 0.6em
      color #fff

  .pure-menu-item .pure-menu-link
    padding-left 1.5em


#main
  .content
    h2
      text-transform capitalize

    .pure-control-group
      label.units
        width 6em

      label.units
        text-align left

      textarea
        width 24em
        height 12em

@keyframes blink
  50%
    fill #ff9d00

.estop
  width 130px
  transition 250ms

  &.active .ring
    animation blink 2s step-start 0s infinite

  svg
    cursor pointer

    .button:hover
      filter brightness(120%)

.control-view
  table
    margin 0.5em 0
    border-collapse collapse

    td, th
      border 1px solid #ddd

  .axes
    width 100%

    .axis-x .name
      color #f00

    .axis-y .name
      color #0f0

    .axis-z .name
      color #00f

    .axis-a .name
      color #f80

    .axis-b .name
      color #0ff

    .axis-c .name
      color #f0f

    td, th
      padding 2px
      white-space nowrap

    th
      text-align center

    td
      text-align right
      font-family Courier

    .axis
      &.homed
        background-color #ccffcc
        color #000

      .name
        text-transform capitalize

      .name, .position
        font-size 36pt
        line-height 30pt

      .position
        width 99%

      .absolute, .offset
        min-width 6em

  .jog svg
    text
      -webkit-user-select none
      -khtml-user-select none
      -moz-user-select -moz-none
      -o-user-select none
      user-select none
      font-family Sans
      font-weight bold
      stroke transparent
      fill #444

    .button
      cursor pointer
      stroke #4c4c4c

      &:hover
        stroke #e55

      path
        overflow visible

    .house
      stroke #444
      fill #444

    .ring
      cursor pointer
      overflow visible

      .button
        stroke transparent

        &:hover
          stroke #e55

        text
          font-size 10pt
          text-anchor middle

  .info
    empty-cells show
    max-width 50%

    th, td
      padding 3px
      text-align right
      white-space normal

    th
      width 5.25em

    td:nth-child(2)
      min-width 8em

    td:nth-child(3)
      text-align left

  .info:nth-of-type(2)
    float left
    clear left

  .info:nth-of-type(3)
    float right
    clear right

  .override
    display none /* Hidden for now */
    margin 0.5em 0
    white-space nowrap

    label
      font-weight bold
      min-width 3.5em
      display inline-block

    .percent
      display inline-block
      width 3em

    input
      border-radius 0
      margin -0.4em 0.5em

  .override:nth-of-type(1)
    clear left
    float left

  .override:nth-of-type(2)
    clear right
    float right

  .toolbar
    clear both

    > *
      margin 0.25em


  .tabs
    section
      min-height 250px
      overflow-x hidden
      overflow-y auto
      padding 0
      margin 0

  .gcode, .history
    font-family courier
    clear both
    overflow auto
    width 100%
    max-width 99%
    min-width 99%
    height 200px
    padding 0.25em
    white-space nowrap

    &.placeholder
      color #aaa

  .gcode ul, .history ul
    margin 0
    padding 0
    list-style none

    li
      span
        display inline-block
        min-width 3em
        margin-right 1em
        padding 0 0.25em
        font-family courier
        color #e5aa3d

      &.highlight
        background-color #eaeaea

  .history ul li
    cursor pointer

  .mdi
    clear both
    white-space nowrap

    input
      width 90%

  .jog
    text-align center

    > svg
      margin 1em

.console
  .console-wrapper
    max-height 400px
    overflow-y auto

  table
    width 100%
    margin 0.5em 0
    border-collapse collapse

    td, th
      border 1px solid #ddd
      padding 2px

    tr
      > td
        margin 0 0.125em
        background-color #fff

      &.log-error td
        color red

      &.log-warning td
        color orange

      &.log-debug td
        color green

.indicators
  padding 1em
  text-align center

  table
    display inline-block
    vertical-align top
    margin 0.5em
    empty-cells show
    border 3px solid #bbb

    td, th
      padding 4px

    tr:nth-child(odd)
      background #f7f7f7

    td:nth-child(1), td:nth-child(3)
      text-align center

    th:nth-child(2), th:nth-child(4)
      text-align left

    &.inputs, &.outputs
      td:nth-child(1), td:nth-child(4)
        text-align center

      th:nth-child(2), th:nth-child(5)
        text-align right

      th:nth-child(3), th:nth-child(6)
        text-align left

    th.header
      height 2.5em
      border-bottom 3px solid #ccc

    th.separator
      background #ccc
      border 1px solid #ccc
      padding 1px

    &.pwr_fault th:nth-child(1)
      text-align left

    &.pwr_fault tr:nth-child(1) th
      text-align center

  .logic-lo
    color black

  .logic-hi
    color green

  .warn
    background-color transparent
    color orange

.video
  text-align center
  line-height 0
  min-height 200px

  .reload
    float left
    margin-right -48px

    &:hover
      opacity 0.5

.tabs
  clear both

  > input
    display none

  > label
    display block
    float left
    width 6em
    font-weight bold
    cursor pointer
    text-decoration none
    text-align center
    background #f6f6f6
    border-top-left-radius 5px
    border-top-right-radius 5px
    border-top 2px solid #f6f6f6
    border-left 1px solid #f6f6f6
    border-right 1px solid #f6f6f6
    margin-right 2px

  > section
    display none
    clear both

  > #tab1:checked ~ #content1,
  > #tab2:checked ~ #content2,
  > #tab3:checked ~ #content3,
  > #tab4:checked ~ #content4,
  > #tab5:checked ~ #content5,
  > #tab6:checked ~ #content6,
  > #tab7:checked ~ #content7,
  > #tab8:checked ~ #content8,
  > #tab9:checked ~ #content9
    display block

  [id^="tab"]:checked + label
    background #fff
    border-top 2px solid #ddd
    border-left 1px solid #ddd
    border-right 1px solid #ddd
    border-bottom 1px solid #fff
    margin-bottom -1px

  .tab-content
    border 1px solid #ddd
    padding 0.5em


.upgrade-version
  display inline-block
  border-radius 4px
  padding 2px
  margin-left 0.5em
  color #555
  background-color #e5aa3d
  text-decoration none

  &:hover
    color #fff

.modal-mask
  position fixed
  z-index 9998
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, .25)
  display table
  transition opacity .3s ease

  .modal-wrapper
    display table-cell
    vertical-align middle

    .modal-container
      width 300px
      margin 0px auto
      padding 20px 30px
      background-color #fff
      border-radius 2px
      box-shadow 0 2px 8px rgba(0, 0, 0, .33)
      transition all .3s ease
      font-family Helvetica, Arial, sans-serif


.modal-header
  text-decoration underline

.modal-footer
  text-align right

.modal-enter, .modal-leave
  opacity 0

.modal-enter .modal-container
  transform scale(1.1)

.modal-leave .modal-container
  transform scale(0.9)

label.file-upload
  display inline-block

  input[type="file"]
    position fixed
    top -1000px

.error-message
  &.modal-mask .modal-wrapper .modal-container
    width auto
    max-width 800px

  .modal-header h3
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  .estop
    float right
    transform scale(0.75)
    margin-top -30px

  .console
    margin-bottom 1em
    clear both


@media only screen and (max-width 48em)
  .header
    height auto

    .header-content > .banner
      padding-top 0
      clear both

  .control-view #control
    .axes
      .axis
        .name, .position
          font-size 24pt
          line-height 24pt

      .absolute, .offset
        display none

    > *:nth-of-type(n)
      float none
      clear both
      width 99%

  .tab_container
    width 98%
