body
  overflow-y scroll

[v-cloak]
  display none

.button-success:not([disabled])
  background rgb(28, 184, 65)

.header, .content
  padding 0

.header
  height 140px
  padding 0

  .header-content
    max-width 800px
    margin auto
    text-align left

  .estop
    float right
    margin 5px

  .banner
    padding-top 40px
    white-space nowrap

    img
      vertical-align top

    .title
      font-size 30pt
      font-family Audiowide
      display inline
      margin-right 0.5em

      .left
        color #444
      .right
        color #e5aa3d

    .subtitle
      font-size 18pt
      font-weight 100
      color #aaa

.error
  background red

.warn
  background orange

.success
  background green

.status
  color #eee
  text-align center
  padding 0.125em
  font-weight bold
  margin-bottom 0.5em
  text-transform uppercase

  &.connecting
    color orange
  &.disconnected
    color red
  &.connected
    color green

#overlay
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.7)
  z-index 2000
  color white
  font-weight bold
  font-size 24pt
  text-align center
  text-transform uppercase

  span
    position relative
    top 50%

#menu
  .save
    display block
    margin 0.25em auto

  .pure-menu-heading
    background inherit
    padding 0

    .pure-menu-link
      padding 0.6em
      color #fff

  .pure-menu-item .pure-menu-link
    padding-left 1.5em


#main
  .content
    h2
      text-transform capitalize

    .pure-control-group
      label.units
        text-align left

      textarea
        width 24em
        height 12em

    .switch
      h3, .pure-control-group
        display inline-block

@keyframes blink
  50%
    fill #ff9d00

.estop
  width 130px
  transition 250ms

  &.active .ring
    animation blink 2s step-start 0s infinite

  svg
    cursor pointer

    .button:hover
      filter brightness(120%)

.control-view
  table
    margin 0.5em 0
    border-collapse collapse

    td, th
      border 1px solid #ddd

  .axes
    width 100%

    .axis-x .name
      color #f00

    .axis-y .name
      color #0f0

    .axis-z .name
      color #00f

    .axis-a .name
      color #f80

    .axis-b .name
      color #0ff

    .axis-c .name
      color #f0f

    td, th
      padding 2px
      white-space nowrap

    th
      text-align center

    td
      text-align right
      font-family Courier

    .axis
      .name
        text-transform capitalize

      .name, .position
        font-size 36pt
        line-height 30pt

      .position
        width 99%

      .offset
        min-width 8em

      .errors
        min-width 6em
        white-space normal

  .jog svg
    text
      font-family Sans
      font-weight bold
      stroke transparent
      fill #444

    .button
      cursor pointer
      stroke #4c4c4c

      &:hover
        stroke #e55

      path
        overflow visible

    .house
      stroke #444
      fill #444

    .ring
      cursor pointer
      overflow visible

      .button
        stroke transparent

        &:hover
          stroke #e55

        text
          font-size 10pt
          text-anchor middle

  .info
    empty-cells show

    th, td
      padding 3px
      text-align right

    th
      width 5.25em

    td:nth-child(2)
      min-width 8em

    td:nth-child(3)
      text-align left

  .info:nth-of-type(2)
    float left
    clear left

  .info:nth-of-type(3)
    float right
    clear right

  .override
    margin 0.5em 0
    white-space nowrap

    label
      font-weight bold
      min-width 3.5em
      display inline-block

    .percent
      display inline-block
      width 3em

    input
      border-radius 0
      margin -0.4em 0.5em

  .override:nth-of-type(1)
    clear left
    float left

  .override:nth-of-type(2)
    clear right
    float right

  .toolbar
    clear both

    > *
      margin 0.5em 0

  .gcode, .history
    clear both
    overflow auto
    width 100%
    max-width 99%
    min-width 99%
    height 200px
    padding 2px
    white-space pre

    &.placeholder
      color #aaa

  .gcode ul
    margin 0
    padding 0
    list-style none

    li
      span
        display inline-block
        min-width 3em
        margin-right 1em
        padding 0 0.25em
        font-family courier
        color #e5aa3d

      &.highlight
        background-color #eaeaea

  .mdi
    clear both
    white-space nowrap

    input
      width 90%

  .jog
    text-align center

    > svg
      margin 1em


.tabs
  clear both

  > input
    display none

  > label
    display block
    float left
    width 5em
    font-weight bold
    cursor pointer
    text-decoration none
    text-align center
    background #f6f6f6
    border-top-left-radius 5px
    border-top-right-radius 5px
    border-top 2px solid #f6f6f6
    border-left 1px solid #f6f6f6
    border-right 1px solid #f6f6f6
    margin-right 2px

  > section
    display none
    clear both

  > #tab1:checked ~ #content1,
  > #tab2:checked ~ #content2,
  > #tab3:checked ~ #content3
    display block

  [id^="tab"]:checked + label
    background #fff
    border-top 2px solid #ddd
    border-left 1px solid #ddd
    border-right 1px solid #ddd
    border-bottom 1px solid #fff
    margin-bottom -1px

  .tab-content
    border 1px solid #ddd
    padding 0.5em


@media only screen and (max-width 48em)
  .header
    height auto

    .header-content > .banner
      padding-top 0
      clear both

  .control-view #control
    .axes
      .axis
        .name, .position
          font-size 24pt
          line-height 24pt

      .offset, .errors
        display none

    > *:nth-of-type(n)
      float none
      clear both
      width 99%

  .tab_container
    width 98%
