.view-settings
  margin-bottom 0

  .navbar button
    margin-left auto
    padding 0.25em 1em
    border-radius 0
    height 40px

  .settings-view
    margin 0 auto
    max-width limit-width
    margin-bottom 50px
    padding 0 1em

#settings-admin a
  text-decoration none
