.view-camera-page #main > .header .video
  display none

.view-camera
  max-width inherit
  margin-bottom 0
  background #000

  .video
    height calc(100vh - 177px)
    overflow hidden

    img
      height 100%
