.view-camera-page #main
  > .header .video
    display none

.view-camera
  margin-bottom 0
  background #000
  height 100%
  overflow hidden

  > div
    height 100%

  .video
    height calc(100% - 40px)
    overflow hidden

    img
      height 100%
