include ../../build/hashes.jade


doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Buildbotics Controller - Web interface

    link(rel="stylesheet", href="/css/pure-min.css")
    //if lte IE 8
      link(rel="stylesheet", href="css/side-menu-old-ie.css")
    // [if gt IE 8] <!
    link(rel="stylesheet", href="css/side-menu.css")
    // <![endif]

    - var faURL = "//maxcdn.bootstrapcdn.com/font-awesome"
    link(rel="stylesheet" href=faURL + "/4.5.0/css/font-awesome.min.css")
    link(href="//fonts.googleapis.com/css?family=Audiowide" rel="stylesheet"
      type="text/css")

    link(rel="stylesheet" href="/css/style-" + css_hash + ".css")


  body(v-cloak)
    #layout
      a#menuLink.menu-link(href="#menu"): span

      #menu
        button.save(:disabled="!modified", class="pure-button button-success"
          @click="save") Save

        .pure-menu
          ul.pure-menu-list
            li.pure-menu-heading
              a.pure-menu-link(href="#control") Control

            li.pure-menu-heading
              a.pure-menu-link(href="#motor:0") Motors

            li.pure-menu-item(v-for="motor in config.motors")
              a.pure-menu-link(:href="'#motor:' + $index") Motor {{$index}}

            li.pure-menu-heading
              a.pure-menu-link(href="#axis:x") Axes

            li.pure-menu-item(v-for="axis in 'xyzabc'")
              a.pure-menu-link(href="#axis:{{axis}}") {{axis | capitalize}} Axis

            li.pure-menu-heading
              a.pure-menu-link(href="#spindle") Spindle

            li.pure-menu-heading
              a.pure-menu-link(href="#switches") Switches

            li.pure-menu-heading
              a.pure-menu-link(href="#gcode") Gcode

            li.pure-menu-heading
              a.pure-menu-link(href="#admin") Admin

      #main
        .header
          img(src="/images/buildbotics_logo.png")
          .logo
            span.left Build
            span.right botics
          h2 Machine Controller

        .content(class="{{currentView}}-view")
          component(:is="currentView + '-view'", :index="index",
            :config="config", :template="template")

    #templates
      include ../../build/templates.jade

    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//cdn.jsdelivr.net/vue/1.0.17/vue.js")
    script(src="js/sockjs.min.js")

    script(src='/js/assets-' + js_hash + '.js')

    script(src="js/ui.js")
