include ../../build/hashes.jade


doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Buildbotics Controller - Web interface

    link(rel="stylesheet", href="/css/pure-min.css")
    //if lte IE 8
      link(rel="stylesheet", href="css/side-menu-old-ie.css")
    // [if gt IE 8] <!
    link(rel="stylesheet", href="css/side-menu.css")
    // <![endif]

    link(rel="stylesheet" href="css/font-awesome.min.css")
    link(href="css/Audiowide.css" rel="stylesheet" type="text/css")

    link(rel="stylesheet" href="/css/style-" + css_hash + ".css")


  body(v-cloak)
    #overlay(v-if="status != 'connected'")
      span {{status}}
    #layout
      a#menuLink.menu-link(href="#menu"): span

      #menu
        button.save.pure-button.button-success(:disabled="!modified",
          @click="save") Save

        .pure-menu
          ul.pure-menu-list
            li.pure-menu-heading
              a.pure-menu-link(href="#control") Control

            li.pure-menu-heading
              a.pure-menu-link(href="#motor:0") Motors

            li.pure-menu-item(v-for="motor in config.motors")
              a.pure-menu-link(:href="'#motor:' + $index") Motor {{$index}}

            li.pure-menu-heading
              a.pure-menu-link(href="#tool") Tool

            li.pure-menu-heading
              a.pure-menu-link(href="#io") I/O

            li.pure-menu-heading(style="display:none")
              a.pure-menu-link(href="#gcode") Gcode

            li.pure-menu-heading
              a.pure-menu-link(href="#admin") Admin

      #main
        .header
          .header-content
            .estop(:class="{active: state.es}")
              estop(@click="estop")

            .banner
              img(src="/images/buildbotics_logo.png")
              .title
                span.left Build
                span.right botics
              .subtitle
                | Machine Controller v{{config.version}}
                a.upgrade-version(v-if="show_upgrade()", href="#admin")
                  | Upgrade to v{{latestVersion}}
                .fa.fa-check(v-if="!show_upgrade() && latestVersion",
                  title="Firmware up to date")

        .content(class="{{currentView}}-view")
          component(:is="currentView + '-view'", :index="index",
            :config="config", :template="template", :state="state", keep-alive)

    message.error-message(:show.sync="errorShow")
      div(slot="header")
        .estop(:class="{active: state.es}"): estop(@click="estop")
        h3 ERROR: {{errorMessage}}

      div(slot="body")
        console

    message(:show.sync="confirmUpgrade")
      h3(slot="header") Upgrade Firmware?
      div(slot="body")
        p
          | Are you sure you want to upgrade the firmware to version
          | {{latestVersion}}?

        p.pure-control-group
          label(for="pass") Password
          input(name="pass", v-model="password", type="password")

      div(slot="footer")
        button.pure-button(@click="confirmUpgrade=false") Cancel
        button.pure-button.pure-button-primary(@click="upgrade_confirmed")
          | Upgrade

    message(:show.sync="firmwareUpgrading")
      h3(slot="header") Firmware upgrading
      p(slot="body") Please wait...

    #templates
      include ../../build/templates.jade

    iframe#download-target(style="display:none")

    script(src="js/jquery-1.11.3.min.js")
    script(src="js/vue.js")
    script(src="js/sockjs.min.js")
    script(src='/js/assets-' + js_hash + '.js')
    script(src="js/ui.js")
